{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="icon" href="{% static 'main/img/favicon.ico' %}">
</head>
<body>
	<header>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 ">
			<a href="{% url 'index' %}"><img class="img_logo" src="media/logo.svg" alt="logo"></a>
  			<h5 class="my- mr-md-auto font-weight-bold h3">Eagle-shop</h5>
  			<nav class="my-2 my-md-0 mr-md-3">
   				<a class="p-2 text-white" href="#">Knopka</a>
   				<a class="p-2 text-white" href="#">Knopka</a>
    			<a class="p-2 text-white" href="#">Knopka</a>
    			<a class="p-2 text-white" href="#">Knopka</a>
  			</nav>
  		</div>
	</header>
	<main class="features">
		{% block content %}	
		{% endblock %}	
	</main>
</body>
</html>
